{% extends 'index.html' %}

{% block content %}
  <main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{ company.name }}</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Companies</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>
              <p>Nazwa: {{ company.name }}</p>
              <p>Ticker: {{ company.short_name }}</p>
              <p>Giełda: {{ stock.stock_name }}
              <p>Opis: {{ company.description }}</p>
              <p>Historia: {{ company.history }}</p>
            {% if user.is_anonymous %}
            Check RSI <a href="{% url 'my_login' %}">Log in</a>
            {% else %}
            Check RSI <a href="/RSI/{{ company.id }}">here</a>
            {% endif %}
        </p>
      </div>
    </section>

  </main><!-- End #main -->
<footer id="footer" style="position: fixed; bottom: 0px; right: 0; left: 0;">
{% endblock %}
