{% extends 'index.html' %}

{% block content %}
  <main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Registration</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Register</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>
          <form action="" method="post">
            {% csrf_token %}
            {{ form.username.label }}
            {{ form.username }}

            {{ form.email.label }}
            {{ form.email }}

            {{ form.password1.label }}
            {{ form.password1 }}

            {{ form.password2.label }}
            {{ form.password2 }}

            <input type="submit" value="Create User">
          </form>
        </p>
      </div>
      {{ form.errors }}
    </section>

  </main><!-- End #main -->
<footer id="footer" style="position: fixed; bottom: 0px; right: 0; left: 0;">
{% endblock %}
