{% extends 'index.html' %}

{% block content %}
  <main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>List of Strategies</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Strategies</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>
          <ul>
              {% for strategy in strategies %}
                  <li><a href="/strategy/{{ strategy.id }}">{{ strategy.name }}</a></li>
              {% endfor %}
              <br>
          </ul>
        </p>
      </div>
    </section>

  </main><!-- End #main -->
<footer id="footer" style="position: fixed; bottom: 0px; right: 0; left: 0;">
{% endblock %}
